
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
    text-align: center;
}


h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    margin-right: 10px;
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Section styling */
section {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* Hide sections by default */
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
}

section p {
    font-size: 1.1rem;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 20px;
}

